@model SistemaDeGestaoEscolar.ViewModel.RegistroViewModel
@{
    ViewData["Title"] = "Quero me cadastar";
}
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>@ViewData["Title"]</h4>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form asp-action="Registro" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="aa-login-form">
                                    <label asp-for="Email">Email<span>*</span></label>
                                    <input type="text" asp-for="Email">
                                    <label asp-for="Nome">Nome<span>*</span></label>
                                    <input type="text" asp-for="Nome">
                                    <label asp-for="Senha">Senha<span>*</span></label>
                                    <input type="password" asp-for="Senha">
                                    <label asp-for="SenhaConfirmacao">Senha<span>*</span></label>
                                    <input type="password" asp-for="SenhaConfirmacao">
                                    <button type="submit" class="aa-browse-btn">Registrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>