@{
    ViewData["Title"] = "Sem Acesso";
}

<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Acesso Negado</h2>
                    <p>Você não tem direitos de acesso à essa página.</p>
                    <a href="#"> Acesse a Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>