@model int
@{
    ViewData["Title"] = Model;
}

<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>@Model</h2>
                    <span>Ops!</span>
                    <p>Isso é muito embaraçoso! Tivemos um problema técnico e nossos microorganismos cibernéticos estão trabalhando para resolver.</p>
                    <a href="#"> Acesse a Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>